src/main/resources/xsd/validClaimSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="customerDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="validClaim" type="xs:string" />
        <xs:element name="customer">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="customerName" type="xs:string" />
              <xs:element name="customerId" type="xs:string" />
              <xs:element name="customerAge" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="claim">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="claimAmt" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>