quarkus-rest-service-6060/src/main/resources/xsd/mrpXmlScheme.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="priceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="originalPrice" type="xs:decimal"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="priceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="originalRate" type="xs:decimal"/>
        <xs:element name="mrpRate" type="xs:decimal"/>
        <xs:element name="addition" type="xs:decimal"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>